.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
}

.modal-body {
    background: #fff;
    padding: 15px;
}
